<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=/list" />
    <meta name="refresh" http-equiv="refresh" content="">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
        html,
        body,
        .container {
            height: 100%;
        }
        
        .vertical-center-row {
            display: table-cell;
            vertical-align: middle;
        }
        
        .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10%;
        }
    </style>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, {{firstname}} {{lastname}} &#10084; </h1>
            <p>You data has been updated !!</p>
            <p>Autometic redirect in 3 sec...</p>

        </div>
    </div>
</body>

</html>